h1{
            color: red;
            text-align:center;
            background-color: black;
            margin-top: 0px;
        }
        .soccer{
            color: rgb(79, 161, 255);
            text-align:justify;
            background-color: aquamarine;
           
        }
        #midashi3{
            color:rgb(0, 0, 0);
        }
        html{
            margin-top: 0px;
        }
        body{
            margin-top: 0px;
        }